.Song-Container {
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
    margin: 3rem;
    border-radius: 10%;
  }
  h1 {
    padding: 1rem;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .Song-Container {
    img {
      width: 50% !important;
    }
  }
}
